<div class="restaurant">
  <p>Name: {{ restaurant.name }}</p>

  <p>Description: {{ restaurant.description }}</p>

  <p>Date of Creation: {{ restaurant.dateOfCreation }}</p>
<form>
  <label for="review">Add review:</label>
  <div>
    <app-star-icon></app-star-icon>
    <app-star-icon></app-star-icon>
    <app-star-icon></app-star-icon>
    <app-star-icon></app-star-icon>
    <app-star-icon></app-star-icon>
  </div>
  <textarea name="comment" id="comment" cols="30" rows="10"></textarea>  
</form>
</div>
